@import "../../../variables.scss";

.overview-container {
    overflow: hidden auto;
    position: relative;
    .overview-table {
        thead {
            tr {
                position: sticky;
                top: 0;
                th {
                    padding: 10px;
                }
            }
        }
        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: $white100;
                }
                &:nth-child(even) {
                    background-color: $grey;
                }
                td {
                    padding: 10px;
                }
            }
        }
    }
}
