@import "../../../variables.scss";

.statistics-container {
    overflow-y: auto;
    .projections {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
