@import "../../../variables.scss";

.application-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    .header-title {
        // padding: 10px 15px;
    }
    .search-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 2px solid $grey;
        border-radius: 10px;
        overflow: hidden;
        height: fit-content;
        margin-right: 8px;
        padding: 0px 5px;
        .search-input {
            outline: none !important;
            border: none !important;
            font-size: 1.2rem;
            height: fit-content;
            margin: 10px 8px;
            width: 300px;
        }
        .search-btn {
            outline: none !important;
            border: none !important;
            background-color: transparent;
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
    }
}
