$primaryColor: #477cff;
$darkPrimaryColor: #315eec;
$secondaryColor: #f0f3ff;
$themeGrey: #bcc0ce;
$white100: rgba(255, 255, 255, 1);
$white80: rgba(255, 255, 255, 0.8);
$white60: rgba(255, 255, 255, 0.6);
$black10: rgba(0, 0, 0, 0.1);
$black50: rgba(0, 0, 0, 0.5);
$black60: rgba(0, 0, 0, 0.6);
$grey: #e5e5e5;
$darkGrey: #ccc;
$warningYellow: #f1c152;
$errorRed: #dc3545;
$successGreen: #4bb534;
$infoBlue: #1e92f4;

$CNGGreen: #419952;
$petrolBrown: #694242;
$dieselYellow: #bd9b16;
